*{
	outline: none !important;
	border-radius: 0 !important;
}
html,body{
	background: #ececec;
	overflow-x: hidden;
	overflow-y: auto;
}
h1,h2,h3{font-family: 'Khula', sans-serif;}
.page-titulo h1{
	font-size: 26px;
}
.bloco h2{
	font-size: 20px;
	text-align: center;
}